{% extends 'administrateur/base.html' %}
{% block content %}
    <div class="card">
    <div class="card-body">
        <h3 class="text-center text-warning">Listes de tous les utilisateurs : </h3>
        {% if users %}
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Nom d'utilisateur</th>
                    <th>Email</th>
                    <th>date inscription</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for donne in users %}
                <tr>
                    <td>{{ donne.first_name }}</td>
                    <td>{{ donne.last_name }}</td>
                    <td>{{ donne.username }}</td>
                    <td>{{ donne.email }}</td>
                    <td>{{ donne.date_joined }}</td>
                    <td>
                        {% if donne.is_active == True %}
                        <i class="bi bi-person-check text-success"></i>
                        {% else %}
                            <i class="bi bi-person-x text-danger"></i>
                        {% endif %}
                    </td>
                    <td>
                        <div class="btn-group">
                            <a href="/administrateur/desactive_user/{{ donne.id }}" class="btn btn-outline-{% if donne.is_active == False %}success{% else %}danger{% endif %} btn-sm">{% if donne.is_active %}Désactivé{% else %}Activé{% endif %}</a>
                            <button type="button" data-id="{{ donne.id }}" class="btn btn-danger btn-sm suppre"><i class="bi bi-trash"></i></button>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
    </div>
    <script>
   
    </script>
{% endblock %}