{% extends 'administrateur/base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <h3 class="text-warning text-center">Liste des recettes</h3>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Titre</th>
                            <th>Description</th>
                            <th>Auteur</th>
                            <th>date du post</th>
                        </tr>
                        </thead>
                        {% if recette %}
                        <tbody>
                        {% for donne in recette %}
                        <tr>
                            <td>{{ donne.id }}</td>
                            <td>{{ donne.titre }}</td>
                            <td>{{ donne.description }}</td>
                            <td>{{ donne.auteur.username }}</td>
                            <td>{{ donne.date_creation }}</td>
                            
                        </tr>
                        {% endfor %}
                        </tbody>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}