{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <br><br><br>
    <div class="card" style="margin:100px auto;width:400px">
        <div class="card-body">
            <h3 class="text-center text-warning m-2">Administrateur</h3>
            <form action="/administrateur/login" method="post">
                {% csrf_token %}
                <div class="m-3">
                    <input type="text" placeholder="Nom d'utilisateur" name="pseudo" class="form-control" required>
                </div>
                <div class="m-3">
                    <input type="password" name="password" placeholder="Mot de passe" class="form-control" required>
                </div>
                <div class="m-3 text-center">
                    <button type="submit" class="btn btn-outline-warning btn-sm">S'authentifier</button>
                </div>
            </form>
        </div>
    </div>
    </div>
{% endblock %}