<header id="header" class="fixed-top d-flex align-items-center " style="padding:-3px">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

    <div class="logo me-auto">
      <h1><a href="/">Sakafo Malagasy</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    </div>
    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
          <li><a href="/membre/search" class=" nav-link scrollto {% if active_page == 'recherche' %}active{% endif %}"><i class="bi bi-search p-3" style="font-size:20px"></i></a></li>
        <li><a class="nav-link scrollto {% if active_page == 'explorer' %}active{% endif %}" href="/membre">Explorer</a></li>
        <li><a class="nav-link scrollto {% if active_page == 'profile' %}active{% endif %}" href="/membre/profile">Profile</a></li>
          <li><a class="nav-link scrollto {% if active_page == 'ajout_recette' %}active{% endif %}" href="/membre/ajout_recette">Ajouter une recette</a></li>
          <li><a class="nav-link scrollto {% if active_page == 'recette' %}active{% endif %}" href="/membre/recette">Mes recettes</a></li>
          <li><a class="nav-link scrollto {% if active_page == 'add_favoris' %}active{% endif %} " href="/membre/add_favoris/">Recettes favoris</a></li>
          <li><a class="nav-link scrollto {% if active_page == 'recette_a_faire' %}active{% endif %}" href="/membre/recette_a_faire">Recette à faire</a></li>
          <li><a class="nav-link scrollto {% if active_page == 'recette_effectue' %}active{% endif %}" href="/membre/recette_effectue">Recette éfféctué</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

    <a href="/membre/logout" class="book-a-table-btn scrollto btn-danger btn-sm">Se déconnecter</a>
  </div>
</header>