{% extends 'membre/baseMembre.html' %}
{% block content %}
    <div class="container text-center">
        <br><br><br>
        <div class="row">
            <div class="col-sm-12 col-md-3"></div>
            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="align-items-center justify-content-center" style="margin:200px 100px">
                    <div class="card">
                        <div class="card-body">
                            <img src="{% if user %}{{ user.profile.image.url }}{% endif %}" alt="alt" class="bg-dark" width="200px" height="200px" style="border-radius:50%">
                            <br>
                            <br>
                        {% if user %}
                            <h3>{{ user.first_name }} {{ user.last_name }}</h3>
                            <p>Nom d'utilisateur : {{ user.username }}</p>
                        {% endif %}
                            <br>
                            <form action="/membre/ajout_photo_profil" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <label for="">Uploader votre photo de profil :</label>
                                <input type="file" name="photo" class="form-control m-2">
                                <button type="submit" class="btn btn-outline-info btn-sm">Changer la photo de profil</button>

                            </form>
                        </div>
                    </div>
                    </div>
            </div>
            <div class="col-sm-12 col-md-12"></div>
        </div>

    </div>
{% endblock %}