{% extends 'base.html' %}
{% block title %}
{% endblock %}
{% block content %}
    <br><br><br>
    <div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="card my-3">
                <div class="card-body">
                    <h3 class="text-center">Connectez vous</h3>
                    <br>
                    <form action="/auth/tchek_login" method="post">
                        {% csrf_token %}
                        <div class="form-group mb-3">
                            <input type="text" name="pseudo" id = "pseudo" class="form-control" placeholder="Nom d'utilisateur">
                        </div>
                          <div class="form-group mb-3">
                            <input type="password" name="password" id = "password" class="form-control" placeholder="Mot de passe">
                        </div>
                        <br>
                        <div class="mb-3">
                            <div class="text-center">
                                <button type="submit" class="btn btn-outline-success">Se connecter</button>
                            </div>
                            <br>
                            <p>Vous n'avez pas encore de compte?</p><a href="/auth/register" class="hyperlink">Cliquez ici</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
    </div>
{% endblock %}