{% extends 'base.html' %}
{% load static %}
{% block title %}
    Sakafo Malagasy - Inscription
{% endblock %}
{% block content %}
    <div class="container-fluid" style="background-image: url({% static 'assets/img/chefs-bg.jpg' %});background-size: cover;padding:100px">
     <br><br><br>
    <div class="row">
    <div class="col-sm-12 col-md-2">
        
    </div>
    <div class="col-sm-12 col-md-12 col-lg-8" > 
    <div class="card m-3 animate__animated animate__fadeIn" style="border-radius: 10% 10% 0% 10% / 0% 19% 10% 19% ;border:none;opacity:0.9;" >
        <div class="card-body">
           <h3 class="text-center">Inscrivez vous :</h3>

            <br>
            <form action="/auth/save_user" class="row" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-6 mb-3">
                    <input type="text" name="nom" id="nom" placeholder="Entrer votre nom" class="form-control">
                </div>
                <div class="col-6 mb-3">
                    <input type="text" name="prenom" id="prenom" placeholder="Entrer votre prénom" class="form-control">
                </div>
                <div class="col-6 mb-3">
                    <input type="text" name="pseudo" id="pseudo" placeholder="Entrer votre nom d'utilisateur" class="form-control">
                </div>
                <div class="col-6 mb-3">
                    <input type="email" name="email" id="email" placeholder="Entrer votre Email" class="form-control">
                </div>
                <div class="col-6 mb-3">
                    <input type="password" name="password" id="password" placeholder="Entrer votre mot de passe" class="form-control">
                </div>
                <div class="col-6 mb-3">
                    <input type="password" name="confpass" id="confpass" placeholder="Retaper votre mot de passe" class="form-control">
                </div>
                <div class="col-6 mb-3">
                    <button type="submit" class="btn btn-primary" style="padding:4px 15px">S'inscrire</button>
                </div>
                <div class="col-6 mb-3">
                    <div>
                         <p>Vous avez déja un compte? <a href="/auth/login" class="hyperlink">Cliquez ici</a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>
        <div class="col-2"></div>
    </div>
    </div>
    
{% endblock %}